<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>OMDB</title>
	<!-- <link rel="stylesheet" href="/style.css"> -->
  <script src="javascript/app.js"></script>
</head>
<body>
	<div id="container">
    <div class="main">
      <h1>Find a Movie</h1>
    	<div id="movieForm">
    		<label for="title">Title<br><br>
    			<input id="inputtedMovie" type="text" name="movie[title]"><br><br>
    		</label>
    		<button id="search">Find</button>
    	</div>
  	</div>
    <h1 id="movieList"></h1>
  </div>
</body>
</html>
